<template>
  <div class="calculator">
    <div class="display">{{ current || '0' }}</div>
    <div v-on:click="clear" class="btn c">C</div>
    <div v-on:click="divide" class="btn">/</div>
    <div v-on:click="append('7')" class="btn">7</div>
    <div v-on:click="append('8')" class="btn">8</div>
    <div v-on:click="append('9')" class="btn">9</div>
    <div v-on:click="multiply" class="btn">*</div>
    <div v-on:click="append('4')" class="btn">4</div>
    <div v-on:click="append('5')" class="btn">5</div>
    <div v-on:click="append('6')" class="btn">6</div>
    <div v-on:click="minus" class="btn">-</div>
    <div v-on:click="append('1')" class="btn">1</div>
    <div v-on:click="append('2')" class="btn">2</div>
    <div v-on:click="append('3')" class="btn">3</div>
    <div v-on:click="plus" class="btn">+</div>
    <div v-on:click="append('0')" class="zero btn">0</div>
    <div v-on:click="equal" class="btn">=</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      previous: null,
      current: '',
      operator: null,
      operatorClicked: false,
    }
  },
  methods: {
    clear() {
      this.current = '';
    },
    sign() {
      this.current = this.current.charAt(0) === '-' ?
        this.current.slice(1) : `-${this.current}`;
    },
    percent() {
      this.current = `${parseFloat(this.current) / 100 }`
    },
    append(number) {
      if(this.operatorClicked) {
        this.current = '';
        this.operatorClicked = false;
      }
      this.current = `${this.current}${number}`;
    },
    dot() {
      if(this.current.indexOf('.') === -1){
        this.append('.');
      }
    },
    setPrevious() {
      this.previous = this.current;
      this.operatorClicked = true;
    },
    divide() {
      this.operator = (a,b) => a/b;
      this.setPrevious();
    },
    multiply() {
      this.operator = (a,b) => a*b;
      this.setPrevious();
    },
    minus() {
      this.operator = (a,b) => a-b;
      this.setPrevious();
    },
    plus() {
      this.operator = (a,b) => a+b;
      this.setPrevious();
    },
    equal() {
      this.current = `${this.operator(
        parseFloat(this.current),
        parseFloat(this.previous)
      )}`;
      this.previous = null;
    }
  }
}
</script>

<style scoped>
.calculator {
  width: 400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  font-size: 40px;
}
.display {
  grid-column: 1 / 5;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.zero {
  grid-column: 1/4;
}
.c {
  grid-column: 1/4;
}
.btn {
  border: 1px solid rgb(0, 0, 0);
}
.operator {
  color: rgb(0, 0, 0);
}
</style>